# Large/local-only
data/
results/

# Nextflow (future-proof)
.nextflow*
work/

# OS/editor clutter
.DS_Store
Thumbs.db
.vscode/
.idea/

# Conda / python junk
__pycache__/
*.pyc

# NEVER commit raw data / huge files
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.cram
*.crai
*.sam
*.bw
*.bigWig
*.bedGraph
*.h5
*.hdf5

# Common logs/temp
logs/
tmp/
*.log
*.out
*.err

# References/indexes (often huge)
refs/
indices/
genomes/
